.select-products-container select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    outline: none;
}

.select-products-container option {
    background-color: #fff;
    color: #333;
}

.select-products-container {
    display: flex;
    justify-content: flex-end;
}

.product-card-container {
    min-height: 25vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.empty-product-message {
    font-size: 1.5rem;
    color: #999;
}